<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Swiss Football API</title>

        <meta name="descrtiption" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    </head>
    <body>

        <header>
            <nav class="mod-main-nav">
                <ul>
                    <li>
                        <a href="#">
                            FAQ
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Getting Started
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Docs
                        </a>
                    </li>
                    <li class="login">
                        <a href="#">
                            Log In
                        </a>
                    </li>
                    <li class="signup">
                        <a class="button" href="#">
                            Sign Up
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="mod-registration">
            <h1>Swiss Football API</h1>
            <h2>Aggregated data about the Swiss Super League provided as a RESTful API.</h2>

            <form>
                <label>
                    Enter your email address to get started
                    <div class="controls">
                        <input type="email" maxlength="255" autofocus autocomplete="off">
                        <button class="continue" type="submit"><i class="fa fa-arrow-right"></i></button>
                        <div class="submission-progress">
                            <div class="inner" style="width: 0%;"></div>
                        </div>
                    </div>
                </label>
            </form>
        </main>

        <aside class="mod-creator">
            <h2>Who's behind this?</h2>
            <div class="vcart">
                <img src="/portrait.png" class="portrait-img" alt="Robert Vogt">
                <h3>Robert Vogt</h3>
                <p class="description">
                    Web enthusiast, student &amp; Frontend Engineer at Namics.
                </p>
                <nav class="social-nav">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-github-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-rss"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <footer>
            <p>Created with <i class="fa fa-heart"></i> and <i class="fa fa-music"></i> in Switzerland, 2014.</p>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/vendor/jquery-1.11.1.min.js"><\/script>')</script>
        <script src="/main.js"></script>
    </body>
</html>