@import "compass/css3/border-radius";

.mod-creator {
    margin: 60px 0;
    text-align: center;

    h2 {
        font-size: 3.2em;
        margin-bottom: 1.8em;
    }

    .vcart {
        width: 600px;
        margin: 0 auto;
        text-align: center;

        .portrait-img {
            width: 150px;
            height: 173px;
        }

        h3 {
            font-weight: 700;
            font-size: 2.4em;
            margin: 1em 0;
        }

        .description {
            font-weight: 300;
            font-size: 1.6em;
            text-transform: uppercase;
        }

        .social-nav {
            margin: 14px 0;
            ul {
                li {
                    display: inline-block;
                    margin: 0 4px;

                    a {
                        display: block;
                        background: $emerald;
                        color: #FFF;
                        font-size: 2.8em;
                        padding: 16px 18px;
                        @include border-radius(100%);

                        i.fa {
                            width: 26px;
                        }

                        &:hover {
                            background: $nephritis;
                        }

                        &:active {
                            background: darken($nephritis, 10%);
                        }
                    }
                }
            }
        }
    }
}