.mod-registration {
    background: $emerald;
    color: #FFF;
    text-align: center;
    padding: 60px 0;

    h1 {
        font-size: 5.6em;
        font-weight: 300;
        margin-bottom: .6em;
    }

    h2 {
        font-size: 2.8em;
        padding: 0 25%;
        font-weight: 300;
        margin-bottom: 1.8em;
    }

    form {
        label {
            .label-text {
                &.is-hidden {
                    display: none;
                }
            }

            input {
                background: #FFF;
                border-radius: 3px;
                border: 1px solid $silver;
                width: 240px;
                height: 48px;
                padding: 0 14px;
                font-size: 1.4em;
            }
        }

        button,
        input[type="submit"] {
            background: $nephritis;
            border-radius: 3px;
            border: 1px transparent;
            width: 160px;
            height: 48px;
            padding: 0 14px;
            font-size: 1.4em;
            font-weight: 300;
            color: #FFF;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                background: darken($nephritis, 10%);
            }

            &:active {
                background: darken($nephritis, 20%);
            }
        }
    }
}