@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_base.scss */
body {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
}

/* line 6, ../sass/_base.scss */
p {
  font-size: 1.6em;
}

/* line 1, ../sass/modules/footer.scss */
footer {
  display: block;
  background: #2ecc71;
  color: #FFF;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding: 40px 0;
}

/* line 3, ../sass/modules/_header.scss */
header {
  background: #2ecc71;
  overflow: hidden;
  *zoom: 1;
  padding: 40px 0;
}

/* line 4, ../sass/modules/_main-nav.scss */
.mod-main-nav {
  display: block;
  float: left;
  font-size: 1.4em;
  width: 80%;
  padding: 0 10%;
}
/* line 11, ../sass/modules/_main-nav.scss */
.mod-main-nav ul {
  float: right;
}
/* line 14, ../sass/modules/_main-nav.scss */
.mod-main-nav ul li {
  float: left;
  margin-left: 20px;
}
/* line 18, ../sass/modules/_main-nav.scss */
.mod-main-nav ul li:first-of-type {
  margin-left: 0;
}
/* line 22, ../sass/modules/_main-nav.scss */
.mod-main-nav ul li.login {
  margin-left: 80px;
}
/* line 26, ../sass/modules/_main-nav.scss */
.mod-main-nav ul li a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: none;
  font-weight: 400;
}
/* line 33, ../sass/modules/_main-nav.scss */
.mod-main-nav ul li a:hover {
  text-decoration: none;
  border-bottom: 1px dotted #ecf0f1;
}
/* line 38, ../sass/modules/_main-nav.scss */
.mod-main-nav ul li a.button {
  text-decoration: none;
  border: 1px solid #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 12px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
/* line 46, ../sass/modules/_main-nav.scss */
.mod-main-nav ul li a.button:hover {
  border-bottom: 1px solid #FFF;
  background: #27ae60;
}

/* line 1, ../sass/modules/_registration.scss */
.mod-registration {
  background: #2ecc71;
  color: #FFF;
  text-align: center;
  padding: 60px 0;
}
/* line 7, ../sass/modules/_registration.scss */
.mod-registration h1 {
  font-size: 5.6em;
  font-weight: 300;
  margin-bottom: .6em;
}
/* line 13, ../sass/modules/_registration.scss */
.mod-registration h2 {
  font-size: 2.8em;
  padding: 0 25%;
  font-weight: 300;
  margin-bottom: 1.8em;
}
/* line 20, ../sass/modules/_registration.scss */
.mod-registration label {
  font-size: 2.4em;
  color: #27ae60;
}
/* line 25, ../sass/modules/_registration.scss */
.mod-registration .controls {
  position: relative;
  width: 696px;
  margin: 0 auto;
}
/* line 31, ../sass/modules/_registration.scss */
.mod-registration .controls input[type="email"],
.mod-registration .controls input[type="text"] {
  outline: none;
  border: none;
  background: #27ae60;
  display: block;
  margin: .4em auto 0 auto;
  font-size: 1.5em;
  color: #FFF;
  padding: 24px 48px;
  width: 600px;
  position: relative;
}
/* line 44, ../sass/modules/_registration.scss */
.mod-registration .controls .continue {
  border: none;
  background: transparent;
  color: #145b32;
  font-size: 2em;
  position: absolute;
  outline: none;
  top: 16px;
  right: 18px;
  cursor: pointer;
}
/* line 55, ../sass/modules/_registration.scss */
.mod-registration .controls .continue:hover {
  color: #104627;
}
/* line 60, ../sass/modules/_registration.scss */
.mod-registration .controls .submission-progress {
  background: #60db94;
  height: 8px;
  width: 696px;
  margin: 0 auto;
  position: relative;
}
/* line 67, ../sass/modules/_registration.scss */
.mod-registration .controls .submission-progress .inner {
  position: absolute;
  left: 0;
  background: #145b32;
  height: 8px;
}

/* line 1, ../sass/modules/creator.scss */
.mod-creator {
  margin: 60px 0;
  text-align: center;
}
/* line 5, ../sass/modules/creator.scss */
.mod-creator h2 {
  font-size: 3.2em;
  margin-bottom: 1.8em;
}
/* line 10, ../sass/modules/creator.scss */
.mod-creator .vcart {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
/* line 15, ../sass/modules/creator.scss */
.mod-creator .vcart .portrait-img {
  width: 150px;
  height: 173px;
}
/* line 20, ../sass/modules/creator.scss */
.mod-creator .vcart h3 {
  font-weight: 700;
  font-size: 2.4em;
  margin: 1em 0;
}
/* line 26, ../sass/modules/creator.scss */
.mod-creator .vcart .description {
  font-weight: 300;
  font-size: 1.6em;
  text-transform: uppercase;
}
