/* line 1, ../../sass/modules/creator.scss */
.mod-creator {
  margin: 60px 0;
  text-align: center;
}
/* line 5, ../../sass/modules/creator.scss */
.mod-creator h2 {
  font-size: 3.2em;
  margin-bottom: 1.8em;
}
/* line 10, ../../sass/modules/creator.scss */
.mod-creator .vcart {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
/* line 15, ../../sass/modules/creator.scss */
.mod-creator .vcart .portrait-img {
  width: 150px;
  height: 173px;
}
/* line 20, ../../sass/modules/creator.scss */
.mod-creator .vcart h3 {
  font-weight: 700;
  font-size: 2.4em;
  margin: 1em 0;
}
/* line 26, ../../sass/modules/creator.scss */
.mod-creator .vcart .description {
  font-weight: 300;
  font-size: 1.6em;
  text-transform: uppercase;
}
